html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    background-color: #ebe5d6;
}

body {
    width: 800px;
    background-color: #e7eaa8;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    border: 5px solid gray;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 1px 1px gray;
}

p, li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    color: #9c8751;
}   

img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
}
